@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.homepage {
    align-items: flex-start;
    background-color: white;
    border: 1 px none;
    display: flex;
    flex-direction: column;
    height: 2188px;
    overflow: hidden;
    width:1460px;
}
.hidden, 
.hidden  {
pointer-events: none;
visibility: hidden;
}
.overlap-group2{
    height: 1298px;
    margin-left: -6px;
    position: relative;
    width:1460px;
}
.lorem_ipsum_dolor-si{
    color:black;
    font-family: prata;
    font-size: small;
    font-weight: 400;
    left:633px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top:996px;
    width:753px;
}
.rectangle-7{
    height:750px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1460px;
}
.rectangle-8{
    background-color: white;
    height: 552px;
    left:0;
    position: absolute;
    top: 738px;
    width: 1460;
}
.natural-beauty{
    color: white;
    font-family: prata;
    font-size: xx-large;
    font-weight:400;
    left: 792px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 321px;
}
.line-4{
    height: 1px;
    left: 636px;
    object-fit: cover;
    position: absolute;
    top: 982px;
    width: 90px;
}
.rectangle-19{
    height: 403px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 813px;
    width: 578px;
}
.rectangle-18{
    height: 117px;
    left: 38px;
    object-fit: cover;
    position: absolute;
    top: 43px;
    width: 79px;
}
.line-3{
    height: 673px;
    left: 1340px;
    position: absolute;
    top: 77px;
    width: 8px;
}
.skin-care{
    color: orange;
    font-family: prata;
    font-size: large;
    font-weight: 400;
    left: 636px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 870px;
}
.buttons{
    height: 35px;
    left: 1105px;
    position: absolute;
    top: 128px; 
    width: 35px;
}
.line-1{
    height: 35px;
    left: 131px;
    position: absolute;
    top: 83px;
    width: 9px;
}
.buttons-4{
    align-items: flex-start;
    background-color:orange;
    display: flex;
    height:32px;
    left:636px;
    padding: 9px 27px;
    position: absolute;
    top: 1137px;
    width: 100px;
}
.add-to-cart-1{
    letter-spacing: 0;
    line-height: normal;
    min-height:12px;
    white-space: nowrap;
}
.title{
    color: orange;
    font-family:prata;
    font-size: xxxx-large;
    font-weight: 400;
    left: 360px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1168px;
}
.buttons-3{
    align-items: flex-start;
    background-color: orange;
    display: flex;
    height: 32px;
    left: 968px;
    padding: 9px 27px;
    position: absolute;
    top: 433px;
    width: 100px;
}
.add-to-cart{
    cursor:pointer;
    letter-spacing: 0;
    line-height: normal;
    min-height: 12px;
    white-space: nowrap;
}
.buttons-1{
    height:35px;
    left:1166px;
    position: absolute;
    top: 128px;
    width: 35px;
}
.line-2{
    height: 8px;
    left: 132px;
    position: absolute;
    top: 77px;
    width: 1216;
}
.buttons-2{
    height: 35px;
    left: 1223px;
    position: absolute;
    top: 128px;
    width: 35px;
}
.skin-nourishment-night-cream{
    color:black;
    font-family: prata;
    font-size:large;
    font-weight: 400;
    left: 633px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top:927px;
}
.overlap-group4{
    align-items: flex-start;
    background-color: lightOrange;
    display: flex;
    flex-direction: column;
    gap: 63px;
    min-height: 481px;
    padding: 42px 123px;
    width: 1460px;
}
.popular-categories{
align-self: center;
color: black;
font-family: prata;


}
.categories-container{
align-items: flex-start;
display: flex;
height: 231px;
min-width: 1213;
}
.categories{
    align-items: center; 
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:16px;
    height: 228px;
    margin-left: 109px;
    overflow: hidden;
    padding: 1px 0;
    width: 221px;
}
.lipstick-1{
    height: 101px;
    margin-right: 1px;
    margin-top: 46px;
    object-fit: cover;
    width: 96px;
}
.lipstick{
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width:141px;
}
.categories-1{
    align-items: center; 
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:6px;
    height: 228px;
    margin-left: 109px;
    overflow: hidden;
    padding: 1px 23px;
    width: 221px;
}
.cream-2{
    align-self: center;
    height: 141px;
    margin-left: 8px;
    margin-top: 16px;
    object-fit: cover;
    width: 141px;
}
.skin-care-1{
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 168px;
}
.categories-2{
    align-items: center; 
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:1px;
    height: 228px;
    margin-left: 112px;
    overflow: hidden;
    padding: 1px 12px;
    width: 221px;
}
.makeup{
    letter-spacing: 0;
    line-height: normal;
    min-height: 63px;
    width: 168px;
}
.make-up-2{
    align-self: center;
    height: 148px;
    margin-left: 1px;
    margin-top: 15px;
    object-fit: cover;
    width: 146px;
}
.categories-3{
    align-items: flex-end; 
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 228px;
    margin-left: 108px;
    overflow: hidden;
    padding: 1px 16px;
    width: 221px;
}
.perfume-container{
    height: 199px;
    margin-left: 21px;
    position: relative;
    width: 168px;
}
.perfume{
    left:0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 136px;
    width: 168px;
}
.pefume-2{
    height: 137px;
    left:0;
    object-fit: cover;
    position: absolute;
    top:0;
    width: 135px;
}