
<div class="product screen">
<div class="rectangle-53"></div>

<div class="rectangle-62"></div>
<p class="lorem-ipsum prata-normal-black-16px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br />et dolore magna aliqua. Ut
enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br />ex ea commodo consequat.
</p>
<p class="lorem-ipsum1 prata-normal-black-16px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br />et dolore magna aliqua. Ut
enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br />ex ea commodo consequat. Duis aute irure dolor
in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
<img class="number-slide" src="number-slide-1.svg" alt="number slide" /><img
class="creams-2"
src="assets/pictures/creams.png"
alt="creams 2"
/>
<img class="rectangle-58" src="assets/pictures/creams.png" alt="Rectangle 58" />
<img
class="rectangle-59" src="assets/pictures/creams.png"
alt="Rectangle 59"
/>
<img class="rectangle-60" src="assets/pictures/creams.png" alt="Rectangle 60" /> 

<div class="skin-nourishment-night-cream">Skin nourishment night cream</div> 
<div class="price-1 price-2 prata-normal-black-24px">30.00$</div>

<div class="rectangle-61"></div>
<div class="related-products">Related products</div>
<div class="products products-4">
<img class="rectangle-37" src="assets/pictures/creams.png" alt="Rectangle 37" /> <div class="name-of-the-product prata-normal-black-24px">Name of the product</div>
<div class="price price-2 inter-normal-black-16px">30.00$</div> </div>
<div class="products-1 products-4">
<img class="rectangle-37" src="assets/pictures/creams.png" alt="Rectangle 37" /> <div class="name-of-the-product prata-normal-black-24px">Name of the product</div>
<div class="price price-2 inter-normal-black-16px">30.00$</div> </div>
<div class="products-2 products-4">
<img class="rectangle-37" src="assets/pictures/creams.png" alt="Rectangle 37" /> <div class="name-of-the-product prata-normal-black-24px">Name of the product</div>
<div class="price price-2 inter-normal-black-16px">30.00$</div> </div>
<div class="products-3 products-4">
<img class="rectangle-37" src="assets/pictures/creams.png" alt="Rectangle 37" /> <div class="name-of-the-product prata-normal-black-24px">Name of the product</div>
<div class="price price-2 inter-normal-black-16px">30.00$</div> </div>

<div class="buttons-3">
<div class="add-to-cart">Add to cart</div>
</div>

<div class="counter">
<div class="counter-frame">
<img class="counter-buttons" src="assets/pictures/.png" alt="counter
buttons" />
<div class="number prata-normal-black-24px">1</div>
<img class="counter-buttons-1" src="counter-buttons-1.svg" alt="counter
buttons" />
</div>
</div>

<img class="buttons-4" src="assets/pictures/search.png" alt="buttons" />
<img
class="buttons-5"
src="assets/pictures/cart icon.png"
alt="buttons"
/><img class="buttons-6" src="assets/pictures/heart-3-line.png" alt="buttons" />
<p class="categories-skin-car prata-normal-black-16px">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Categories: Skin care<br />Age group: 26-35 years old<br
/>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp Brand: KiN
</p>
<div class="product-details">Product details</div>
<h1 class="title">SKIN CARE</h1>
</div>