<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="overlap-group3">
    <footer class="footer">
     <img class="ki-n-3-1"
     src="KiN 3.cdr"
     alt="KiN 3 1"/>
     <p class="ki-n-is-the-place-where">
     KiN is the place where everyone is able to find some beauty called to highlight one’s individuality! <br>
 We are waiting right for you!
 </p>
 <div class="overlap-group">
   <div class="copyright">2023, KiN</div>
 </div>
    </footer> 
    <i class="fa fa-instagram"></i>
    
    <i class="fa fa-facebook"></i>
    
    <i class="fa fa-twitter"></i>
    
    <i class="fa fa-copyright"></i>
    </div>